
*{
    margin: 0;
    padding: 0;
}
.nav{
    background-color: black;
    padding: 20px;
    color: white;
}

li,h1{
    display: inline;
}

ul{
    margin-left: 60%;
    display: inline;
}


li {
    color: grey;
    text-decoration: none;
}

li:hover{
    color: white;
}

/* Step 14 Select input tag and set width and padding*/
input{
    width: 70%;
    padding: 10px;
}

/* Step 15 Select searchbar class and set text-align:center 
and also set padding*/

.searchbar {
    text-align: center;
    padding: 30px;
}



.box{
    border: solid black 2px;
    padding:5px;
    text-align: center;
    width: 220px;
    display: inline-block;
}


img{
    width: 220px;
}



.box:hover{
    border-color: black;
    background-color: black;
    color: white;
}

.products{
    justify-content: center;
    align-items: center;
    padding: 30px;
    display:flex;
    gap:20px;
}


.about{
    text-align: center;
}

/*Step 30 set pdding and width for p tag inside about*/
/*Step 31 Go back to html*/
.about p{
    padding: 20px;
    font-size: larger;
}



.contact{
    padding: 20px;

}


.last{
    background-color: black;
    color: white;
    text-align: center;
    padding: 20px;
}